/* Minimal custom CSS is needed, we want Tailwind to handle everything */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* App background override (optional) */
.app-background {
  @apply bg-gray-200 overflow-x-hidden;
}
