.sc-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  min-height: 45vw;
  position: relative;
  bottom: 25vw;
  right: 5vw;

}

.sc-card {
background: #e7eaf6; 
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 24px;
  width: 650px;
  border: 1px solid #e5e7eb;
}

/* Header */
.sc-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sc-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sc-title h3 {
  margin: 0;
  font-size: 18px;
  color: #111827;
}

/* Search Bar */
.sc-searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sc-input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  outline: none;
}

.sc-input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

.sc-search-btn {
  background-color: #2563eb;
  border: none;
  border-radius: 8px;
  padding: 9px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sc-search-btn:hover {
  background-color: #1e40af;
}

/* Course List */
.sc-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sc-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 16px;
  background: #d2d4ea; 
}

.sc-item-left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.course-code {
  font-weight: 600;
  color: #111827;
}

.course-desc {
  color: #6b7280;
  font-size: 14px;
}

.course-meta {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 6px;
  color: #6b7280;
  font-size: 13px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Add Button */
.add-btn {
  background-color: #5e7ab7;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  height: fit-content;
}

.add-btn:hover {
  background-color: #1e40af;
}
